/* #container{
display: flex;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    
}

ul li {
    display: inline;
    margin: 50px;
}
a {
    text-decoration: none; */
/* } */
table , th , td{
    border: solid black 1px;
}